@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Monoton&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Great Vibes', cursive  !important;
  font-family: 'Monoton', cursive !important;
  font-family: 'Poppins', sans-serif !important;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}
.navbar-brand{
  color:black !important;
  text-transform: uppercase;
}
h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex !important;
}
.btn{
  background: red !important;
  color: white !important;

}
select{
  box-shadow: none !important;
  border-color: black !important;
}